body {
    background-color: #FF00FF;
}

h1{
    text-align: justify;
    background-color: #FAAC58;
    color: #FAAC58;

}

a {
    text-decoration: none;
    font-weight: 900;
    font-style: oblique;
    font-family: fantasy;
    color: #2EFE2E;
}

h2{
    font-family: "Comic Sans", cursive, sans-serif;
}

p{
    color: red;
    font-weight: 900;
    font-family: monospace;
    font-size: 3em;
}

ul{
    color: yellow;
}
