body {
    background-color: #FF00FF;
}

#head1{
    background-color: #FAAC58;
    color: #FAAC58;

}

a {
    text-decoration: none;
    font-weight: 900;
    font-style: oblique;
    font-family: fantasy;
    color: #2EFE2E;

}

h2{
    text-align: justify;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

p{
    text-align: justify;
    font-family: "Comic Sans MS", sans-serif;
    font-weight: 900;
    font-size: 3em;
}

ul{
    color: yellow;
}

.extreme{
    font-size: 10em;
}

.navzone{
    border: 2em dashed yellow;
}

#tehlulz{
    font-family: "Comic Sans MS", sans-serif;
    color: red;
}

.content{
    cursor: wait;
}

.prose{
    color: red;
}
